body{
  background-color: #bdbdf2;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.d-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
  width: 1140px;
  height: 90vh;
  margin: 0 auto;
  padding: 10px 15px;
}
.cases{
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: none;
  border-bottom: 3px white solid;
  font-size: 15px;
  color: white;
  background-color: #bdbdf2;
  
}
.cases::placeholder{
  font-size: 15px;
  color: white;
  transform: translate(0, 0);
  transition: all ease .5s;
}
.cases:focus{
  outline: none;
}
.cases:focus::placeholder{
  transform: translate(350px , 0);
}
.btn-add, .delete{
  width: 200px;
  height: 30px;
  color: white;
  background-color: #bdbdf2;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 10px;
  font-size: 15px;
  margin-left: 50px;
  transition: all .5s ease;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, .5);
}
.delete{
  margin-left: 0;
}
.btn-add:hover, .delete:hover{
  background-color: white;
  color: #bdbdf2;
  border: rgba(189, 189, 242, .5) 2px solid;
}
.tasks{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(45% - 40px);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
